html body {
    width: auto;
    height: 100%;
    background-color: rgb(226, 250, 248);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

h1 {
    color: rgb(79, 36, 166);
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px rgb(141, 204, 240);
}

.divlist {
    width: 100%;
    text-align: center;
}

.list {
    display: inline-block;
    font-size: 25px;
    padding: 0;
}

li {
    margin: 15px;
    text-align: left;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: rgb(79, 36, 166);
    text-shadow: 5px 5px 5px rgb(141, 240, 209);
}

footer {
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
}

.copyright {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

.copyright a {
    color: black;
    text-decoration: none;
}

.copyright a:hover {
    color: rgb(255, 255, 255);
}